TURSO_DB_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3MTc2MTYzMjUsImlkIjoiYWRkODMzOWYtOTU1MS00Yjk1LTg2ZjQtYjQ3NzdlYmZkZGQ3In0.2zZxRRa96U8Z1qZqsg7EaBhLWGc8iZZ15R3HUelzv_213e03UIKYaAUe1SkM-nOoaPdN9vxz0BSpT5BFIEDdBg"
TURSO_DATABASE_URL="libsql://fullstack-assesment-number8-eryoher.turso.io"